# Ignorer notebooks temporaires
*.ipynb_checkpoints

# Ignorer dossiers de build/compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorer logs
*.log

# Ignorer fichiers de config locaux
*.env
*.DS_Store
~$*.docx

# Ignorer dossiers de sortie ou de résultats
output/

# Ignorer tout le dossier tools/python
tools/python/
ss
# (optionnel) ignorer tout le dossier tools
# tools/

# Ne PAS ignorer le script d’installation
!tools/install_python.bat
